.image-container {
    background-color: red;
    height: 60%;
    width: 100%;
}

.text-container {
}

.Pane section {
    display: flex;
    padding: 32px;
    height: 300px;
    width: 100%;
    min-height: 100%;
    background-color: var(--md-sys-color-background);
    border-radius: 20px;
    z-index: 2;
    
  }

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.element-with-z-index {
  z-index: 10;
}