/* Overlay para bloquear interacciones durante la transición */
.overlay {
  position: fixed; /* Fijo respecto a la ventana del navegador */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Valor normalizado, mantiene prioridad sobre otros elementos */
  pointer-events: all; /* Bloquea todas las interacciones bajo el overlay */
}

/* Adding basic app layout styles */
.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

@media (max-aspect-ratio: 4/5) {
  .App {
    flex-direction: column;
  }
}
